.simple-keyboard {
    max-width: 850px;
}

/*
  Theme: myTheme1
*/
.simple-keyboard.myTheme1 {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 15px;
}

.simple-keyboard.myTheme1 .hg-button {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    font-size: 1.8rem;
    
}

.simple-keyboard.myTheme1 .hg-button:active {
    background: #00713C;
    color: white;
}

#root .simple-keyboard.myTheme1+.simple-keyboard-preview {
    background: #00713C;
}

.swal-title:not(:last-child) {
    margin-bottom: 55px;
}

.swal-overlay {
    background-color: rgba(248, 85, 36, 0.61);
}

.swal-modal {
    width: 630px;
}

.swal-title {
    font-size: 90px;
}

.swal-text {
    font-size: 60px;
    text-align: unset;
}

.swal-button {
    font-size: 30px;
}